$background: #343128;

$short-wide: 'Lexend Zetta', sans-serif;
$decorative: 'Abril Fatface', cursive;
$text: 'Raleway', sans-serif;


body {
    color: white;
}

.section-container {
    background-color: $background;
    display: flex;
    
}

.main-header-text {
    font-family: $decorative;
    font-size: 4rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    align-content: flex-start;
}

